DATABASE_URL= "mysql://root:1234@localhost:3306/random_chat"
MAX_USERS_PER_SUBROOM = 20
MAX_MESSAGES_HISTORY = 10
MAX_ROOMS_PER_DAY = 1
BETTER_AUTH_SECRET= 
BETTER_AUTH_URL=http://localhost:3001
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 

FACEBOOK_CLIENT_SECRET = 
FACEBOOK_CLIENT_ID = 

MAIL_USER = 
MAIL_PASS = 

ALLOWED_ORIGINS = '["http://localhost:3000", "http://10.210.250.105:3000"]'


SUPABASE_URL = 
SUPABASE_SECRET_KEY = 

